@model List<ProductUser>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Product List Start -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Ürünler</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/img/1.jpg" class="card-img-top" alt="@product.ProductName">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">@product.ProductDescription</p>
                        <p class="card-text"><strong>@product.ProductPrice TL</strong></p>
                        <div class="d-flex justify-content-end">
                            <a href="@Url.Action("CreateOrder", "Orders", new { id = product.Id })" class="btn btn-primary">Satın Al</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Product List End -->  