@model List<AuthExampleClient.DTOs.Product.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Product Management</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Brand</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.ProductPrice.ToString("C")</td>
                    <td>@product.BrandName</td>
                    <td>
                        <a href="/Admin/Products/UpdateProduct/@product.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/Admin/Products/DeleteProduct/@product.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Admin/Products/CreateProduct/" class="btn btn-primary">Add New Product</a>
</div>
